/* navbar */
.navbar {
    font-size: 1.2 rem;
    padding-top: 0.3rem;
    padding-bottom: 0.2rem;
}
.navbar a {
    color: white;
}
.navbar .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.navbar .logo {
    font-size: 4rem;
    font-family: The Nautigal, cursive;
    
}

.navbar ul{
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.5em;
    padding-right: 0.5rem;
}
.navbar .nav-item-active{
    color: rgb(255, 255, 255);
    font-weight: 400;
}

/* sectin-a HOME */
.section-a{
    margin: 2rem;
    background-image: url(Images/bkg1.jpg);
}

.section-a .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
    color: white;
    height: 300px;
    text-align: center;
}


/*menu options portfolio */
.section-c{
    background-image: url(/Images/bkg.jpg);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-right: 15%;
    margin-left: 15%;
    text-align: center;
    /* height: 400px;
    max-width: 100%; */
    color: white;
    font-family: 'Dongle',sans-serif;
    font-size: 2rem;
    
}

.section-c .col-md-3 img{
    max-width: 125%;
    max-height: 125%;
    padding: 1rem;
    margin-left: 4rem;
    padding-left: 2rem;
}

.section-c .text{
    text-align: center;
    width: 15rem;
    padding-top: 0%;
    padding-left: 2rem;
    /* margin: -5rem 3rem; */
    position: relative;

}