
/* navbar */
.navbar {
    font-size: 1.2 rem;
    padding-top: 0.3rem;
    padding-bottom: 0.2rem;
    text-decoration: none;
}
.navbar a {
    color: white;
}
.navbar .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.navbar .logo {
    font-size: 4rem;
    font-family: The Nautigal, cursive;
    
}

.navbar .nav-link{
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.5em;
    padding-right: 0.5rem;
}
.navbar .nav-item-active{
    color: rgb(255, 255, 255);
    font-weight: 400;
}

/* sectin-a HOME */
.section-a{
    background-image: url(Images/bg_1.jpg);
    
    
}

.section-a .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
    color: white;
    height: 300px;
    text-align: center;
}


/*menu options portfolio */
.section-b{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    height: 500px;
    background-image: url(/Images/bg_4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 15%;
    padding-top: 2%;
    padding-bottom: 3%;
    color: white;
    
} 
.col-md-3 img{
    max-width: 100%;
    max-height: 100%;
    padding: 1rem;
    align-items: center;
    margin-left: 2rem;
}
.text{
    text-align: center;
    width: 15rem;
    position:top;
    margin-bottom: 2%;
    padding-top: 0%;
    color: white;
    padding-left: 2rem;
    font-family: "Dongle";
    font-size: 2rem;
}

.section-d{
    background-image: url(Images/bkgx.jpg);
    background-attachment: fixed;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    color: white;
    padding-top: 3%;
    padding-bottom: 3%;
}

.section-d .deliver-overlay{
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode:overlay ;
    margin-right: 2%;
    margin-left: 2%;
    padding-left: 15%;
    padding-right:15%;
    height: 500px;
    text-align: center;
    
}

.section-d .choice{
    display: none;
    padding: 2%;
}
.section-d .delivery{
    color: white;
}

.section-d .information{
    padding-top: 4%;
    padding-right: 8%;
    padding-left: 4%;
    color: whitesmoke;
}
@media only screen and (max-width:485px){
    flex-xs-column{
        flex-direction: column;
    }
}
@media only screen and (max-width:600px){
    .section-d .section-b{
        padding-top: 30px;
    }
    flex-xs-column{
        flex-direction: column;
    }
}

.section-d #selection{
    align-items: center;
    text-align: center;
    font-family: 'Dongle',sans-serif;
}

.section-contacts{
    align-items: center;
    padding-top: 2%;
    text-align: center;
}